.container{
    width: 100vw; /* marging 10px */
    height: calc(100vh - 80px);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255,255,255,1);
    z-index: 2;
    background: #0087FF;
    color: white;
    margin: 0px;
    box-sizing: border-box;
    padding: 12px;
}

.loadingcontainer{
    width: 100vw; /* marging 10px */
    height: calc(100vh - 80px);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255,255,255,1);
    z-index: 2;
    background: #0087FF;
    color: white;
    margin: 0px;
    box-sizing: border-box;
    padding: 12px;
    background: #0087FF;
    justify-content: center;
    align-items: center;
}


.uploadcontainer{
    width: 80%;
    margin-top: 20px;
    height: 150px;
    background: #3CA966;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    z-index: 2;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logbox {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    position: fixed;
}

.textbox{
    margin:0px;
    display: block;
    width: 100%;
    padding: 7px 7px 7px 7px;
    font-size: 1.5em;
    color: black;
    border-radius:20px;
    border: 0px;
}

.librarybutton{
    font-size:1.2em;
    margin: 10px;
}



.countdowncontainer{
    margin:20px;
}

.countdown{
    font-size: 2em;
    color: #efefef;
}

.cardcontainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.imagerow{
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imagecontainer{
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 75px;
    display: flex;  
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 2px solid white;
}

.variantcontainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.about{
    font-size: 1.3em;
}

.progress{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2em;
    padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .spinning {
      animation: image-spin infinite 20s linear;
    }
}
  
@keyframes image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}