.container{
    width: calc(100vw - 0px); /* marging 10px */
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255,255,255,1);
    z-index: 2;
    background: #0087FF;
    color: white;
    margin-bottom: 80px;
}

.uploadcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    z-index: 2
}

.fileupload {
    display: none;
}

.textbox{
    margin:0px;
    display: block;
    padding: 7px 7px 7px 7px;
    font-size: 1.5em;
    color: black;
}

.librarybutton{
    font-size:1.2em;
    margin: 10px;
}

.keywordcontainer{
    position: fixed;
    bottom: 160px;
    display:flex;
    width: calc(100vw - 20px); 
    align-items:center;
    justify-content:center;    
    flex-direction:row;
    z-index:10;
}

.keyword{
    font-size: 1.5em;
    color: #7ED8A1;
    margin: 0px 10px 0px 10px;
}

.micontainer{
    position: fixed;
    bottom: 210px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.listening{
    font-size:4em;
}

.heard{
    position: fixed;
    bottom: 200px;
    font-size:1.5em;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.startcontainer{
    display:flex;
    width: calc(100vw - 20px);
    align-items:center;
    justify-content:center;
    flex-direction:column;
    overflow-y: auto;
    overflow-x: hidden;
}


.startbutton{
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    color: white;
    background: #1D4D78;
    font-size: 1.2em;

}

.customfileupload {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.loadingcontainer{
    display: flex;
    width: 100vw;
    height: calc(100vh - 160px);
    justify-content: center;
    align-items:center;
}

.progress{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.3em;
    padding: 20px;
}

.storytextcontainer{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    overflow-y: auto;
}

.storytitle{
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    background: #0B74D8;
    top: 76px;
    z-index: 100;
}

.listeningcontainer{
    position:fixed;
    bottom: 80px;
    width: 100vw; 
    height: 240px; 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background: #3CA966EE;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index:10;
}


.helpcontainer{
    position:fixed;
    bottom: 0px;
    width: 100vw; 
    height: 80px; 
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background: #B7D5F8;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.storytext{
    font-size: 1.5em;
    padding: 5px;
}

.tabbaricon{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    font-size:1em;
    font-weight: bold;
    margin: 15px;
}

.countdowncontainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 90px;
    margin:0px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid;
    font-size: 0.6em;
    background: #116833;
    z-index:10;
}

.countdown{
    font-size: 2em;
    color: #efefef;  
}


.imagerow{
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imagecontainer{
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 75px;
    display: flex;  
    
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 2px solid white;
}


.credits{
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}
@media (prefers-reduced-motion: no-preference) {
    .spinning {
      animation: image-spin infinite 20s linear;
    }
}
  
@keyframes image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.navbaricon{
    font-size: 1.5em;
}